.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
src/core/*.o
src/core/*/*.o
^data-raw$
.Rproj
inst/doc
tools
# Written by the plot tests when the suite is run outside R CMD check,
# which has no graphics device open.
Rplots.pdf
